.container#sign-up-form
  %h1 Sign up as a new user
  - @user.password = @user.password_confirmation = nil

  = error_messages_for :user
  - form_for :user, :url => users_path do |f|
    .clearfix
      = f.label :login, 'User Name'
      .input
        = f.text_field :login
    .clearfix
      = f.label :email, 'Your Email Address'
      .input
        = f.text_field :email
    .clearfix
      = f.label :first_name
      .input
        = f.text_field :first_name
    .clearfix
      = f.label :last_name
      .input
        = f.text_field :last_name
    .clearfix
      = f.label :password, 'New Password'
      .input
        = f.password_field :password, :autocomplete => "off"
    .clearfix
      = f.label :password_confirmation, 'Confirm Password'  
      .input
        = f.password_field :password_confirmation, :autocomplete => "off"
    
    .clearfix.actions
      %input.btn.primary.large{:type => "submit", :value => "Sign Up"}/
