:javascript
  function populate_property_form(name, zip) {
    $('#property-name').val(name);
    $('#property-zip').val(zip);
    get_city_state_from_zip_field();
  }

  function get_city_state_from_zip_field() {
    var zip = $('#property-zip').val(); if (zip.length == 5) { $('#city-name').load('/reviews/zip_to_city?zip=' + zip); } else { $('#city-name').text('unknown ZIP'); return false; }
  }
.result{:style => "margin-bottom:10px"}
  - f.fields_for :ratings do |ff|
    - if params['review_id'].present?
      - next unless ff.object.id == params['review_id'].to_i
    = ff.text_field :first_name, { :class => 'entry-first-name', :placeholder => "First Name"}
    = ff.text_field :last_name, { :class => 'entry-last-name', :placeholder => "Last name"}

    .address
      = f.text_field :name, { :class => 'name-field', :placeholder => "Apartment name or address"}
      = f.text_field :zip, { :class => 'zip-field', :placeholder => "Zipcode", :onkeyup => "var zip = $(this).val(); if (zip.length == 5) { $('#city-name').load('/reviews/zip_to_city?zip=' + zip); } else { $('#city-name').text('unknown ZIP') }"}

    .questions
      %ul{:style => "padding-top:5px"}
        - ["Were they late paying the rent?", "Did they recieve any noise complaints?", "Did they cause damange to the property?", "Did they skip or were they evicted?", "Did they leave owing any money?"].each do |question|
          %li{:class => cycle('even', 'odd')}= question

    .add-entry
      %ul{:style => "padding-top:5px"}
        %li
          .controls
            = ff.select :times_late_paying, ["", "No, Never", "Sometimes", "Often"]

        %li
          .controls
            = ff.select :noise_complaints, ["", "No, Never", "Sometimes", "Often"]

        %li
          .controls
            = ff.select :damage, ["", "No", "Yes"]

        %li
          .controls
            = ff.select :skipped_or_evicted, [["", nil], ["No", false], ["Yes", true]]

        %li
          .controls
            = ff.select :left_owing_money, ["", "No, no money owed", "Yes, for damages", "Yes, for late rent", "Yes, other charges"]

      - if f.object.new_record?
        .existing-properties{:style => "float:right;"}
          %p
            %strong Your Properties
          %ul
            - if current_user.properties.empty?
              %li
                %em
                  You haven't added any propeties yet.
                  %br
                  Please use the form to the right.
            - else
              - current_user.properties.each do |property|
                %li= link_to_function(property.name, "populate_property_form('" + property.name + "', '" + property.zip + "');");
