.result{:style => "margin-bottom:10px"}

  .results-header
    .row1
      = rating.first_name
      = rating.last_name
    .row2
      .result-property-name= rating.property.name
      .result-city= rating.property.city
      .result-state= rating.property.state
      .result-zip= rating.property.zip

  .questions
    %ul{:style => "padding-top:2px"}
      - ["Were they late paying the rent?", "Did they recieve any noise complaints?", "Did they cause damange to the property?", "Did they skip or were they evicted?", "Did they leave owing any money?"].each do |question|
        %li{:class => cycle('even', 'odd')}= question

  .add-entry
    %ul{:style => "padding-top:2px"}
      %li
        .controls
          = rating.times_late_paying
      %li
        .controls
          = rating.noise_complaints
      %li
        .controls
          = rating.damage
      %li
        .controls
          - if rating.skipped_or_evicted
            Yes
          - else
            No
      %li
        .controls
          = rating.left_owing_money
