.logo
  %a{:href => root_path}
    %img{:alt => "Rate My Tenants", :src => "/images/logo.png"}/
%main#home.container
  - form_for :tenant, :url => reviews_path do |f|
    .result{:style => "margin-bottom:10px"}

      = f.text_field :first_name, { :class => 'entry-first-name', :placeholder => "First Name"}
      = f.text_field :last_name, { :class => 'entry-last-name', :placeholder => "Last name"}

      - f.fields_for :rating_attributes do |ff|
        = ff.hidden_field :user_id, {:value => current_user.id}

        .questions
          %ul{:style => "padding-top:5px"}
            - ["Were they late paying the rent?", "Did they recieve any noise complaints?", "Did they cause damange to the property?", "Did they skip or were they evicted?", "Did they leave owing any money?"].each do |question|
              %li{:class => cycle('even', 'odd')}= question

        .add-entry
          %ul{:style => "padding-top:5px"}
            %li
              .controls
                = ff.select :times_late_paying, ["", "No, Never", "Sometimes", "Often"]

            %li
              .controls
                = ff.select :noise_complaints, ["", "No, Never", "Sometimes", "Often"]

            %li
              .controls
                = ff.select :damage, ["", "No", "Yes"]

            %li
              .controls
                = ff.select :skipped_or_evicted, [["", nil], ["No", false], ["Yes", true]]

            %li
              .controls
                = ff.select :left_owing_money, ["", "No, no money owed", "Yes, for damages", "Yes, for late rent", "Yes, other charges"]

    .add-entry-address
      - f.fields_for :property_attributes do |ff|
        = ff.hidden_field :user_id, {:value => current_user.id}
        .clearfix
          %label{:for => "subject"} Apartment Name / Street Address
          .input
            = ff.text_field :name, { :size => 30 }

        .clearfix
          %label{:for => "code"} ZIP Code of property
          .input
            = ff.text_field :code, { :size => "30", :onblur => "$('#city-name').load('/reviews/zip_to_city?code=' + $(this).val());" }
            %br
            #city-name{:style => "height: 25px; padding:5px; float:right;"}
    .add-entry-submit
      %input.btn.large.primary{:type => "submit", :value => "add entry"}/