!!!
%html{:lang => "en"}
  %head
    %title Rate My Tenants | Tenant Scores for Landlords
    %meta{:charset => "utf-8"}
      %meta{:content => "A Tentant Score for Landlords", :name => "description"}
        / Le HTML5 shim, for IE6-8 support of HTML elements
        /[if lt IE 9]
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        / styles
        %link{:href => "/stylesheets/bootstrap.min.css", :rel => "stylesheet"}
          %link{:href => "/stylesheets/base.css", :rel => "stylesheet"}
            / favicon and touch icons
            %link{:href => "/images/favicon.png", :rel => "shortcut icon"}
              / javascript
              / <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
              %script{:src => "/javascripts/jquery-1.4.3.min.js"}
              %script{:src => "/javascripts/collapse.js"}
              / fonts
              %link{:href => "http://fonts.googleapis.com/css?family=Cardo", :rel => "stylesheet", :type => "text/css"}
  %body
    - if logged_in?
      %header
        #login-bar
          .container
            %p
              = link_to "Home Page", root_path
              \-
              = link_to "Search for a Tenant", search_tenants_path
              \-
              = link_to "Review a Tenant", new_review_path
              \-
              =link_to "Your Reviews", reviews_path
              \-
              - if current_user.unread_messages?
                =link_to "Messages (#{current_user.unread_message_count})", messages_path
              -else
                =link_to 'Messages', messages_path
              \-
              = link_to "Account", users_path
              \-
              =link_to "Log Out", logout_path
    - else
      / %section#signup
      /   .container
      /     - form_for :user, :id => 'signup-form', :url => users_path do |f|
      /       %field{:for => "login"} Choose a User Name
      /       %input{:name => "login", :type => "text", :placeholder => "User Name"}/

      /       %field{:for => "email"} Your Email Address
      /       %input{:name => "email", :type => "text", :placeholder => "Email Address"}/

      /       %field{:for => "password"} Choose a Password
      /       %input{:name => "password", :type => "password", :placeholder => "Password"}/

      /       %field{:for => "password_confirmation"} Confirm Password
      /       %input{:name => "password_confirmation", :type => "password", :placeholder => "Password"}/

      /       %input.btn.primary{:type => "submit", :value => "Sign Up"}/

      %section#login
        .container
          %form{:action => session_path, :id => 'login-form', :method => :post}
            %input{:name => "login", :onClick => "this.value=''", :type => "text", :placeholder => "email"}/
            %input{:name => "password", :onClick => "this.value=''", :type => "password", :placeholder => "password"}/
            %input.btn.primary{:type => "submit", :value => "Log In"}/
      %header
        #login-bar
          .container
            %p
              / %a.toggle_signup{:href => "#"}> Sign up
              = link_to "Sign up", new_user_path
              \   |   
              %a.toggle_login{:href => "#"} Log in
    %main
      - if notice = flash[:notice]
        .alert-message.success= notice
      - if error = flash[:error]
        .alert-message.error= error
      = yield
    %footer
      %p
        %a{:href => "about.html"}> About
        \   |   
        %a{:href => "team.html"}> Meet the Team
        \   |   
        %a{:href => "terms.html"} Terms
        %p
          %script{:language => "JavaScript"} document.write('© ' + (new Date()).getFullYear());
          Rate My Tenants
    / Longer Scripts
    :javascript
      $(document).ready(function(){
      	if(window.location.search.substring(1) == 'add') {
      		$('#login').show();
      	} else {
      		$('#login').hide();
      	}
      });
    :javascript
      $(document).ready(function(){
      	if(window.location.search.substring(1) == 'add') {
      		$('#signup').show();
      	} else {
      		$('#signup').hide();
      	}
      	});
    /
      Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
      chromium.org/developers/how-tos/chrome-frame-getting-started
    /[if lt IE 7 ]
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
      <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>